doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 Noom
        main 
            video#myFace(autoplay, playsinline, width="400", height="400") //playsinline - 모바일 브라우저가 필요로 하는 property: 비디오가 자동으로 전체화면이 되버리는걸 막아줌. 웹사이트에서만 실행됨..?
        script(src="/socket.io/socket.io.js") //브라우저에 socketIO설치. io서버 만들면 제공해줌
        script(src="/public/js/app.js") //server.js에 static을 작성해줘야 작동

        
